alembic
chromadb
cryptography
fastapi
jieba==0.42.1
langchain-core
langchain-openai
passlib[bcrypt]
pydantic
pymysql
pypdf
python-dotenv
python-jose[cryptography]
python-multipart
rank-bm25==0.2.2
redis
sentence-transformers
sqlalchemy
uvicorn[standard]
